body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", sans-serif;
    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
}
a {
    text-decoration: none;
}
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.logo{
    background-color: #ee3643;
}
.main-navigation{
    background-color: #f3f7f9;
    color: #ee3643;
}
.main-navigation p:nth-child(1){
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}
.order{
    background-color: #63a63e;
}
.button {
    font: inherit;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    background-color: #ee3643;
    border: none;
  }
.main-navigation button{
    font-size: 21px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
    text-transform: none;  
}
.main-navigation span{
    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}
.number{
    font-size: 21px;
    line-height: 21px;
}
.location{
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
}
.main-navigation-list{
    background-color: #32425c;
}
.main-navigation-list,
.user-navigation,
.footer-navigation-list li,
.footer-user-navigation li,
.socials li,
.main ul li{
    list-style: none;
}
.main-navigation-list a,
.user-navigation a {
    color: #ffffff
}
.desc{
    background-color: #ffffff;
    color: #000000;
}
.desc h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.desc p{
    font-size: 14px;
    line-height: 24px;
}
.company li{
    font-size: 18px;
    line-height: 20px;
    list-style: none; 
}
.company a{
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
}
.map{
    display: none;
}
.popup{
    display: none;
}
.socials a{
    color: #ffffff;
}
.footer-navigation-list{
    color: #ffd180;
}
.footer-navigation{
    background-color: #32425c;
}
.footer-navigation a,
.footer-navigation p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}
.contacts{
    background-color: #293449;
    font-size: 16px;
    line-height: 18px;
}
.contacts p:nth-child(2n){
    color: #ffd180;
}
.login a{
    color: #32425c;
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
}
.basket{
    background-color: #ee3643;
}
.main{
    background-color: #ffffff;
    color: #000000;
}
.main h2{
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #f3f7f9;
}
.main h3{
    font-family: "PTSans",  sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
.way{
    font-family: "PTSans",  sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
}
.manufacturer label,
.power label{
    font-family: "PTSans",  sans-serif;
    font-size: 15px; 
    text-transform: uppercase;
}
.power button{
    background-color: #ffffff;
    color: #000000;
    font-family: "PTSans",  sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}
.products{
    font-family: "PTSans",  sans-serif;
    font-weight: 700;
}
.product p:nth-child(2){
    font-size: 18px;
    line-height: 20px;
}
.product p:nth-child(4n){
    background-color: #ee3643;
    color: #ffffff;
    line-height: 18px;
}
.product p:nth-child(3n){
    color: #999999;
    text-decoration: line-through;
    line-height: 18px;
}
.user-navigation-list{
    font-size: 17px;
    line-height: 18px;
}
.user-navigation{
    background-color: #293449;
}